.Contacto {
  background-color: #0e0e0e;
  color: #fefefe;
  height: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.Contacto > div {
  text-align: center;
}

.gmailLogo > div > img {
  width: 36px;
}

@media (max-width: 1024px) {
  .Contacto > div {
    font-size: 1.5vh;
  }
}
@media (max-width: 768px) {
  .Contacto {
    flex-direction: column;
    height: auto;
  }
  .Contacto > div {
    margin: 1rem;
    font-size: 2vh;
    position: relative;
  }
  .Contacto > div::before {
    content: '';
    height: 1px;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    bottom: -1rem;
  }

  .Contacto > div > div > img {
    width: 24px;
  }
}
