.Servicios {
  background: linear-gradient(#212d3a, #08121d);
  padding: 15rem 3%;
  position: relative;
}
.servicios-title {
  font-size: 7vh;
  position: absolute;
  top: 0;
  padding: 3rem;
  font-weight: 500;
  color: #529cec;
}

.servicios-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-row-gap: 15rem;
}

.servicios-container__description {
  padding: 3rem;
  color: #fefefe;
  font-size: 1.2vw;
  text-align: justify;
}
.servicios-container__imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.servicios-container__imgs > img {
  width: 100%;
  filter: brightness(70%);
  transition-duration: 0.25s;
}
.servicios-container__imgs > img:hover {
  filter: brightness(100%);
}

@media (max-width: 1024px) {
  .Servicios {
    padding: 10rem 3%;
  }
}
