.Header {
  height: 4rem;
  position: relative;
  top: 0;
  width: 100%;
}
.header-section {
  background-color: #070913;
  display: flex;
  width: 100%;
  position: fixed;
  height: 4rem;
  right: 0;
  align-items: center;
  justify-content: space-evenly;
}
.header-section a {
  font-size: 14px;
  padding: 9px 16px;
  border: 1px solid transparent;
  border-radius: 8px;
  transition-duration: 0.35s;
}
.header-section a:hover {
  color: #ffffff;
  background-color: #4e4e4e77;
}
