.Slider {
  background-color: #000000;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  position: absolute;
  filter: brightness(20%);
  width: 100%;
  overflow: hidden;
}
.banner > img {
  object-fit: contain;
}
.slider-section {
  z-index: 1500;
}

.slider-section > div {
  text-align: center;
}

.slider-section__title {
  font-size: 2rem;
  color: #fefefe;
}

.slider-section > div > img {
  width: 200px;
}
